---
import { formatDateWithoutWeekday } from '../../scripts/date.js';
import { createMeetupHelpers } from '../../scripts/meetups.js';
const { getNextMeetups } = await createMeetupHelpers('meetup-rhine-ruhr');

let dates = getNextMeetups().map((meetup) => meetup.date);

---
<section class="py-4 md:py-24 bg-coolGray-50" style="background-image: url('/images/elements/pattern-light-big.svg'); background-position: center;">
	<a name="newsletter"></a>
	<div class="container px-4 mx-auto w-full md:w-1/2">
		<div class="mb-16 text-center">
			<h3 class="mb-4 text-3xl md:text-5xl leading-tight text-coolGray-900 font-bold tracking-tight">Interested in upcoming meetups?</h3>
		</div>
	</div>
	<div class="container px-4 mx-auto w-full md:w-1/2">
		<div class="mb-16 text-center">
			<h4 class="mb-4 text-xl md:text-xl leading-tight text-coolGray-900 font-bold tracking-tight">Upcoming tentative meetups:</h4>
			<p class="text-lg md:text-xl text-coolGray-500 font-medium">
				{dates.map((date) =>
					<b>{formatDateWithoutWeekday(date, 'en-US')}</b><br/>
				)}
			</p>
		</div>
	</div>
</section>
