---
import MainHead from '../../components/MainHead.astro';
import Footer from '../../components/Footer.astro';
import Nav from '../../components/Nav.astro';
import BlogPostListing from '../../components/BlogPostListing.astro';

let title = 'Blog - Engineering Kiosk';
let description = 'Artikel und Blog Posts vom Engineering Kiosk: Wissen und Einblicke für Software-Engineers zu Engineering-Kultur, Open Source, Technologie und Community.';
const canonicalURL = new URL(Astro.url.pathname, Astro.site);
---

<html lang="de">
	<head>
		<MainHead title={title} description={description} image="/images/logos/pocast-episode-logo-cover.jpg" {canonicalURL} ogImageAlt="Engineering Kiosk Blog" />
	</head>

	<body class="antialiased bg-body text-body font-body">
		<div>
			<Nav title={title} />

			<BlogPostListing numberOfItems="0" />

			<Footer />
		</div>
	</body>
</html>
