---
export interface Props {
	message: string;
	link: string;
	showStart: Date;
	showEnd: Date;
	id?: string;
}

const { message, link, showStart, showEnd, id = 'announcementBar' } = Astro.props;
---

<section id={id} class="py-6 bg-coolGray-900 overflow-hidden bg-opacity-75" style="background-image: url('/images/elements/pattern-dark2.svg'); background-position: center; background-size: cover; display:none;">
	<div class="container px-3 mx-auto text-center">
		<a href={link} class="text-darkCoolGray-50 font-semibold text-xl">
			{message}
		</a>
	</div>
</section>

<script define:vars={{ showStart, showEnd, id }}>
	const now = new Date();
	if (now < new Date(showEnd) && now > new Date(showStart)) {
		document.getElementById(id).style.display = 'block';
	}
</script>
