---
import { Image } from "astro:assets";
import defaultAvatarAlps from "../../content/meetup-alps/images/speaker/avatar.png";
import defaultAvatarRhineRuhr from "../../content/meetup-rhine-ruhr/images/speaker/avatar.png";

export interface Props {
  title: string;
  speaker: string;
  avatar: string;
  meetupSlug?: string;
}

const { title, speaker, avatar, meetupSlug = 'alps' } = Astro.props;
const defaultAvatar = meetupSlug === 'rhine-ruhr' ? defaultAvatarRhineRuhr : defaultAvatarAlps;

---
<li class="flex items-center">
  <div class="flex items-center mr-2 hidden sm:block">
    <Image class="w-12 h-12 m-2 rounded-full" src={avatar || defaultAvatar} alt={speaker} title={speaker} />
  </div>
  <div class="text-sm">
    <div class="font-medium">{title}</div>
    {speaker && <div class="text-coolGray-500">({speaker})</div>}
  </div>
</li>