---
import { Image } from "astro:assets";
import defaultAvatar from "../../content/meetup/images/speaker/avatar.png";

export interface Props {
  title: string;
  speaker: string;
	avatar: string | string[];
}

const { title, speaker, avatar } = Astro.props;

const avatarArray = avatar ? Array.isArray(avatar) ? avatar : [avatar] : [];

---
<li class="flex items-center">
  <div class="flex items-center mr-2 hidden sm:block">
		<div class="flex gap-2 justify-center m-2">
			{avatarArray.length ? (
				avatarArray.map((avatar) => (
					<Image class="w-12 h-12 rounded-full" src={avatar || defaultAvatar} alt="" loading="lazy" decoding="async" format="webp" quality={80} width={48} height={48} />
				))
			) : <Image class="w-12 h-12 rounded-full" src={defaultAvatar} alt="" loading="lazy" decoding="async" format="webp" quality={80} width={48} height={48} />}
		</div>
  </div>
  <div class="text-sm">
    <div class="font-medium">{title}</div>
    {speaker && <div class="text-coolGray-500">({speaker})</div>}
  </div>
</li>
