name: Check tags without SEO descriptions

on:
  schedule:
    - cron: '15 4 1 * *' # At 04:05 on day-of-month 1.
  workflow_dispatch:

jobs:
  publishing:
    name: Check if all tags have a proper SEO description
    runs-on: ubuntu-24.04

    steps:
      - uses: actions/checkout@v6.0.1
      - uses: actions/setup-python@v6.0.0
        with:
          python-version-file: 'scripts/.python-version'
          cache: 'pip'

      - name: Install python dependencies
        run: make init-python

      - name: Search for missing SEO tags in content files
        run: make update-missing-tag-descriptions-content-files

      - name: Search for missing SEO tags in the German Tech Podcast file
        run: make update-missing-tag-descriptions-german-tech-podcast

      - name: Search for missing SEO genres in the awesome-software-engineering-games file
        run: make update-missing-genre-descriptions-awesome-software-engineering-games

      # Commit results back to repository
      - uses: stefanzweifel/git-auto-commit-action@v7
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          commit_message: Add new tags that need SEO descriptions into tag data file
          branch: main
          commit_user_name: Tag SEO description workflow bot
          commit_user_email: stehtisch@engineeringkiosk.dev
          commit_author: Tag SEO description workflow bot <stehtisch@engineeringkiosk.dev>
