name: Check tags without SEO descriptions

on:
  schedule:
    - cron: '15 4 1 * *' # At 04:05 on day-of-month 1.
  workflow_dispatch:

jobs:
  check-tags-without-descriptions:
    name: Check if all tags have a proper SEO description
    runs-on: ubuntu-24.04
    defaults:
      run:
        working-directory: website-admin

    steps:
      - uses: actions/checkout@v6.0.2
      - uses: actions/setup-go@v6
        with:
          go-version: "1.26"

      - name: Build
        run: make build

      # Finds all used tags in content files that need SEO descriptions and updates the tag-file
      - name: Search for missing SEO tags in content files
        run: |
          ./website-admin tags find website-content --write-file

      # Find all used tags in the german tech podcasts that need SEO descriptions and updates the tag-file
      - name: Search for missing SEO tags in the German Tech Podcast file
        run: |
          ./website-admin tags find german-tech-podcasts --write-file

      # Find all used genres in the awesome software engineering games that need SEO descriptions and updates the genre-file
      - name: Search for missing SEO genres in the awesome-software-engineering-games file
        run: |
          ./website-admin tags find awesome-software-engineering-games --write-file

      # Commit results back to repository
      - uses: stefanzweifel/git-auto-commit-action@v7.1.0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          commit_message: "chore: Add new tags that need SEO descriptions into tag data file"
          branch: main
          commit_user_name: "GitHub Actions Bot"
          commit_user_email: "actions@github.com"
          commit_author: "GitHub Actions Bot <actions@github.com>"
