name: Check empty player URLs

on:
  schedule:
    - cron: '15 4 1 * *' # At 04:05 on day-of-month 1.
  workflow_dispatch:

jobs:
  check-empty-player-urls:
    name: Check if all detail links for Podcast platforms are set
    runs-on: ubuntu-24.04
    defaults:
      run:
        working-directory: website-admin

    steps:
      - uses: actions/checkout@v6.0.2
      - uses: actions/setup-go@v6
        with:
          go-version: "1.26"

      - name: Build
        run: make build

      - name: website-admin podcast check-player-urls
        run: |
          ./website-admin podcast check-player-urls
