name: Links

on:
  workflow_dispatch:
  schedule:
    - cron: "00 18 * * 1"

jobs:
  linkChecker:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v6.0.2

      - name: Link Checker
        id: lychee
        uses: lycheeverse/lychee-action@v2.8.0
        with:
          fail: false # Don't fail action on broken links
          failIfEmpty: false # Don't fail action if no links were found
          args: --config .lychee.toml . https://engineeringkiosk.dev/sitemap-0.xml
