name: Sync German Tech Podcasts

on:
  workflow_dispatch:
  repository_dispatch:
    types: [podcast-list-update]

jobs:
  publishing:
    name: Sync German Tech Podcasts from external repository
    runs-on: ubuntu-24.04

    steps:
      - uses: actions/checkout@v6.0.1
      - uses: actions/setup-go@v5
        with:
          go-version-file: 'website-admin/go.mod'
          cache-dependency-path: 'website-admin/go.sum'

      - name: Build website-admin
        run: make build
        working-directory: website-admin

      - name: Run make update-german-tech-podcasts
        run: make update-german-tech-podcasts

      # Commit results back to repository
      - uses: stefanzweifel/git-auto-commit-action@v7.1.0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          commit_message: Update src/data/german_tech_podcasts.json with latest podcast data
          branch: main
          commit_user_name: Sync German Tech Podcast workflow bot
          commit_user_email: stehtisch@engineeringkiosk.dev
          commit_author: Sync German Tech Podcast workflow bot <stehtisch@engineeringkiosk.dev>
