name: Sync German Tech Podcasts

on:
  workflow_dispatch:
  repository_dispatch:
    types: [podcast-list-update]

jobs:
  sync-german-tech-podcasts:
    name: Sync German Tech Podcasts from external repository
    runs-on: ubuntu-24.04
    defaults:
      run:
        working-directory: website-admin

    steps:
      - uses: actions/checkout@v6.0.2
      - uses: actions/setup-go@v6
        with:
          go-version: "1.26"

      - name: Build
        run: make build

      # Updates the German Tech Podcasts data
      # from https://github.com/EngineeringKiosk/GermanTechPodcasts
      - name: website-admin sync german-tech-podcasts
        run: |
          ./website-admin sync german-tech-podcasts

      # Commit results back to repository
      - uses: stefanzweifel/git-auto-commit-action@v7.1.0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          commit_message: "chore: Update src/data/german_tech_podcasts.json with latest podcast data"
          branch: main
          commit_user_name: "GitHub Actions Bot"
          commit_user_email: "actions@github.com"
          commit_author: "GitHub Actions Bot <actions@github.com>"
